<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    1.扫描service下的包-->
    <context:component-scan base-package="com.kuang.service"/>
<!--    记得要在一个包下-->

<!--    //因为Spring是基于反射来对方法进行调用的，在调用这个方法时，-->
<!--    // 他会检验参数并建议参数类所包含的属性，如果表单里有同名同类则注入-->
<!--    //====================================-->
<!--    //不是后台知道前端发来的是Book类型-->
<!--    // 是我们定义了一个Book类型去接收 如果不匹配会报错的-->
<!--    2.将我们的所有业务类,注入到spring中,可以通过配置,或者注解实现-->
    <bean id="BookServiceImpl" class="com.kuang.service.BookServiceImpl">
        <property name="bookMapper" ref="bookMapper"/>
    </bean>

<!--    3.声明式事务配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
<!--        注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--    4,aop 事务支持-->
</beans>